<br>
	<div class="panel panel-warning">
		<div class="panel-heading">

			<h2 class="panel-title"><i class="icon-star"></i> The Coder Factory Scholarship</h2>
		</div>
		<div class="panel-body">

<h2>The Coder Factory is proud to offer a scholarship to aspiring tech startup entrepreneurs and those who have a strong motivation to learn to code.</h2>
<br>

<p>The mission of The Coder Factory is "To empower the citizens of the world to embrace their technological future", and to that end, it is important to give people from all walks of life and backgrounds the opportunity to learn to code.</p>
<br>
<div class="well">
	<h3>How the scholarship works</h3>

	<p>
		The scholarship is now available for the November, 2013 intake of the <a href="http://thecoderfactory.com/courses/web-app-coder-ruby-on-rails" target="_blank">Web App Coder</a> programme at The Coder Factory. This programme runs for 10 weeks, with Sunday face-to-face sessions from 10am to 5pm and approximately 10-15 hours of reading, quizzes, tutorials and project work to be completed during the week between classes.
	</p>


	<p>Scholarships will be awarded to the applicant who can show they have a strong motivation to learn to code and can commit the required time and effort to the programme.</p>

	<p>The student who is awarded the scholarship will receive $1000 to put towards the cost of the November intake of the Web App Coder November programme at The Coder Factory, starting 10th November, 2013.
</div>

<div class="well">
	<h3>The application process</h3>

	<ol>
		<li>Complete and submit the scholarship application form below</li>
		<li>Attend an interview with The Coder Factory director, Pete Argent at an arranged time at The Coder Factory school in Surry Hills</li>
		<li>Applications are reviewed by The Coder Factory</li>
		<li>Scholarship is awarded and applicants informed via phone call and email on Wednesday, 6th November 2013</li>
	</ol>
</div>
	<h3>Terms and conditions</h3>
	<ol>
		<li>The Coder Factory's decision on the applicant awarded the scholarship is final.</li>
		<li>The scholarship recipient is expected to attend all classes and complete all project work, including the final project.</li>
		<li>The scholarship recipient agrees to write a post for The Coder Factory blog about their experiences learning to code and their project work.</li>
		<li>The scholarship recipient agrees to make themselves available for media interviews in relation to their scholarship and project work at The Coder Factory.</li>
		<li>The Coder Factory awards the scholarship recipient with a $1000 credit off the cost of the Web App Coder course intake starting 10th November, 2013.</li>
	</ol>



		<div class="well">
			<h3>The Application</h3>
			<%= render 'form' %>
		</div>
	</div>
</div>
<%= link_to 'Back', scholarships_path %>
