<br>
	<div class="panel panel-warning">
		<div class="panel-heading">

			<h2 class="panel-title"><i class="icon-edit"></i> Receive an information pack</h2>
		</div>
		<div class="panel-body">

			<%= render 'form' %>
		</div>
	</div>

<%= link_to 'Cancel', courses_path %>
