<% content_for :title, "About The Coder Factory - coding courses, web application development and startup support" %>
<% content_for :description, "The Coder Factory is a new type of organisation, one that provides technology education, employment opportunities and supports your startup ambitions." %>

<h1 class="text-primary">About</h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            <span class="icon-stack">
                	  <i class="icon-check-empty icon-stack-base"></i>
                	  <i class="icon-flag"></i>
                	</span> </i>     	
        	Mission 
    	</div>
	</div>
              
	<div class="panel-body">
      	<p>To empower the citizens of the world to embrace their technological future.</p>
	</div>
	          
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title"><span class="icon-stack">
                	  <i class="icon-check-empty icon-stack-base"></i>
                	  <i class="icon-question"></i>
                	</span> </i> What we do </div>
	</div>

	<div class="panel-body">
		<p>The Coder Factory is a new type of organisation, one that provides technology education, employment opportunities and supports your startup ambitions.</p>
		<h3 class="text-info">
			<span class="icon-stack">
	  			<i class="icon-sign-blank icon-stack-base"></i>
	  			<i class="icon-code icon-light"></i>
			</span>
			Technology education
		</h3>
		<ul class="icons-ul">
			<li><i class="icon-li icon-chevron-sign-right"></i>Flexible learning</li>
			<li><i class="icon-li icon-chevron-sign-right"></i>Real world projects</li>
			<li><i class="icon-li icon-chevron-sign-right"></i>Make connections</li>
			<li><i class="icon-li icon-chevron-sign-right"></i>Wide range of technologies</li>
		</ul>
		<h3 class="text-info">
			<span class="icon-stack">
			  <i class="icon-sign-blank icon-stack-base"></i>
			  <i class="icon-truck icon-light"></i>
			</span>
			Web application development
		</h3>
		<ul class="icons-ul">
			<li><i class="icon-li icon-chevron-sign-right"></i>Provide development services for small business, non-profits and startups</li>
			<li><i class="icon-li icon-chevron-sign-right"></i>Opportunities for course graduates to increase their skills and experience and get paid</li>
		</ul>
		<h3 class="text-info">
			<span class="icon-stack">
			  <i class="icon-sign-blank icon-stack-base"></i>
			  <i class="icon-puzzle-piece icon-light"></i>
			</span>
			Tech startup support
		</h3>
		<ul class="icons-ul">
			<li><i class="icon-li icon-chevron-sign-right"></i>Supporting the startup community by providing development work</li>
			<li><i class="icon-li icon-chevron-sign-right"></i>Helping course graduates with connections and advice to create their own startup</li>
		</ul>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title"><span class="icon-stack">
                	  <i class="icon-check-empty icon-stack-base"></i>
                	  <i class="icon-location-arrow"></i>
                	</span> </i> Where we are </div>
	</div>

	<div class="panel-body">
	<p>The Coder Factory proudly calls Sydney, Australia home.</p>
	<p>Our headquarters are at <a href="http://ohiosurryhills.com.au/" target="_blank">Ohio Co-working Space</a> in Surry Hills, just a few minutes from Hyde Park and Museum station.</p>

	<%= image_tag 'ohio.jpg', class: 'img-responsive img-rounded' %>


	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">
			<span class="icon-stack">
                	  <i class="icon-check-empty icon-stack-base"></i>
                	  <i class="icon-user"></i>
                	</span> </i> Tech Director, Chief Instructor </div>
	</div>

	<div class="panel-body">
		<div class="well">
			<table class="table">
				<tr>
					<td width="30%">
						<%= image_tag "pete1.png", class: 'img-rounded img-responsive ' %>
					</td>
					<td>
						<h3>Pete Argent</h3>
						<p>After nine years as an IBM software consultant, Pete decided to give up the big company safety net for a life of entrepreneurial risk and excitement.</p>
						<p>Pete's three main passions in life are entrepreneurship, coding and teaching - so running The Coder Factory is his dream job!</p>


						<p><i class="icon-envelope"></i> <a href="mailto:pete@thecoderfactory.com" target="_blank">pete@thecoderfactory.com</a></p> 
						<p><i class="icon-twitter"></i> <a href="https://twitter.com/pedrogrande" target="_blank">@pedrogrande</a></p>
						<p><i class="icon-linkedin"></i> <a href="http://www.linkedin.com/profile/view?id=1135289" target="_blank">LinkedIn profile</a></p>
					</td>
				</tr>
			</table>
		</div>

	</div>
</div>