<% content_for :title, "Contact The Coder Factory - Ruby on Rails training in Sydney" %>
<% content_for :description, "The Coder Factory is currently based in Sydney Australia but planning on expanding soon." %>

<h1 class="text-info">Contact</h1>


		<div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title">
                	<span class="icon-stack">
                	  <i class="icon-check-empty icon-stack-base"></i>
                	  <i class="icon-thumbs-up"></i>
                	</span> Stalk us</div>
              </div>
           	<div class="panel-body">
           		<h4 class="text-info">
							<span class="icon-stack">
							  <i class="icon-sign-blank icon-stack-base"></i>
							  <i class="icon-twitter icon-light"></i>
							</span>
						<a href="https://twitter.com/coderfactory" target="_blank">twitter</a>
					&nbsp;
							<span class="icon-stack">
							  <i class="icon-sign-blank icon-stack-base"></i>
							  <i class="icon-facebook icon-light"></i>
							</span><a href="https://www.facebook.com/pages/The-Coder-Factory/347905435343297" target="_blank">facebook</a>
					&nbsp;
							<span class="icon-stack">
							  <i class="icon-sign-blank icon-stack-base"></i>
							  <i class="icon-google-plus icon-light"></i>
							</span><a href="https://plus.google.com/100818528139080406377" rel="publisher">google+</a>
							
					&nbsp;
							<span class="icon-stack">
							  <i class="icon-sign-blank icon-stack-base"></i>
							  <i class="icon-linkedin icon-light"></i>
							</span><a href="http://www.linkedin.com/company/the-coder-factory" rel="publisher">linkedIn</a>
							
						</h4>
			</div>
		</div>


		<div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title">
                	<span class="icon-stack">
                	  <i class="icon-check-empty icon-stack-base"></i>
                	  <i class="icon-map-marker"></i>
                	</span> </i> Visit us</div>
              </div>
           	<div class="panel-body">
           		<address>
           			<strong><a href="http://ohiosurryhills.com.au" target="_blank" class="text-danger">OhioSurryHills</a></strong> [<a href="https://www.google.com.au/maps?q=162+Goulburn+St,+Surry+Hills+NSW&sll=-33.79692349391411,150.92120431619438&sspn=0.9191178327687043,1.9804652118092787&t=m&hnear=162+Goulburn+St,+Surry+Hills+New+South+Wales+2010&z=16" target="_blank">Map</a>]
           			<br>
           			<p>Level 2, 162 Goulburn St<br>
           			Surry Hills NSW 2010</p>
           			
           		</address>
           		<telephone>
           			<i class="icon-mobile-phone"></i> <a href="tel:0402180512">0402 180 512</a>
           		</telephone>
			</div>
		</div>

		<div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title">
                	<span class="icon-stack">
                	  <i class="icon-check-empty icon-stack-base"></i>
                	  <i class="icon-pencil"></i>
                	</span> </i> Or drop us a line</div>
              </div>

              <div class="panel-body">

			
				<%= render 'contact_form' %>

				</div>
			</div>


<br><br>
