<br>
<div class="panel panel-info">
	<div class="panel-heading">
		<h2 class="panel-title"><i class="icon-smile"></i> Thank you for contacting The Coder Factory</h2>
	</div>
	<div class="panel-body">
		<p>You will receive a confirmation email shortly. </p>
		<p><%= link_to "Return to the home page", root_path, :class => 'btn btn-lg btn-success' %>

	</div>
</div>


