<div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="icon-exclamation-sign"></i> Have an app idea?</h3>
        </div>
        <div class="panel-body sidebar">
          <p class="lead top-message">Want someone to build it for you?</p>
          <p> Or just need some advice on what your technology options are? Make an appointment for a free consultation. No strings. Just good advice and connections to technical people.</p>
        </div>
      </div>