
<hr>
		    <footer>
		        <p>&copy; The Coder Factory 2013 | <%= link_to "Privacy Policy", privacy_path %> | <a href="https://plus.google.com/100730085156302453180?rel=author"><i class="google-plus-sign"></i> Pete Argent </a> | <a href="https://plus.google.com/100818528139080406377"
 rel="publisher">The Coder Factory on Google+</a> | Powered by <a href="http://ninefold.com/" target="_blank">Ninefold</a> <% if user_signed_in? %>| <%= link_to "Admin", admin_path %><% end %></p>
		    </footer>
