

<hr>
		    <footer>
		        <p>&copy; The Coder Factory 2013 | <%= link_to "Privacy Policy", privacy_path %> | <a href="https://plus.google.com/u/0/100730085156302453180?rel=author"><i class="google-plus-sign"></i> Google+ </a> <% if user_signed_in? %>| <%= link_to "Admin", admin_path %><% end %></p>
		    </footer>
      