<div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><center><i class="icon-star icon-spin"></i> New Scholarship! <i class="icon-star icon-spin"></i></center></h3>
        </div>
        <div class="panel-body sidebar">
          <center><p class="lead top-message">$1000 Scholarship now available</p></center>
          <p> The Coder Factory is proud to offer a new scholarship that aims to help people with a great app idea and the desire to learn to build it themselves.</p>
          <%= link_to ruby_on_rails_course_scholarship_path, class: 'btn btn-warning btn-block' do %>
          	<i class="icon-circle-arrow-right"></i> Read more & Apply
          <% end %>
        </div>
      </div>